body{
  background-image: linear-gradient(#2e224d, #7f38ab);
  margin:0px;position:relative;
}

.nameTitle{
  background-color: black;
  height:8%;
  width:100%;
  padding-top:15;
  padding-bottom:15;
}

div:hover{
  background-color: white;
  height:8%;
  width:100%;
  padding-top:15;
  padding-bottom:15;
}

.titleText{
  color:white;
  font-family:Courier;
  font-size:35;
}
